button, 
button:active, 
button:focus {
    outline: none;
}
.btn_tickets{
	display: flex;
}
.low{
	margin-right: 20px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.name{
	color: blue;
	font-size: 40px;
	font-weight: bold;
}
.win{
	font-size: 28px;
	font-weight: bold;
	color: #000;
}

.mainvalue{
	font-family: Arial;
	color: red;
	font-size: 30px;
	font-weight: 400;
	margin: 50px 0 50px 0;
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.text_bet{
	font-size: 20px;
	color: #8B0000;
}
.text_chance{
	font-size: 20px;
	color: #8B0000;
}
.bet{
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
}
.bet:focus{
	box-shadow: 0px 0px 10px orange;
}
.chance{
	width: 200px;
	height: 30px;
	margin-left: 9.5px;
	margin-bottom: 30px;
}
.chance:focus{
	box-shadow: 0px 0px 10px red;
}
.btn_tickets{
	display: flex;
	justify-content: space-around;
}
.bilet_low{
	font-size: 25px;
}
.bilet_high{
	font-size: 25px;
	width: 165px;
}
.please{
	background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	border-radius: 10px;
	margin-top: 10px;
}
.btn_low{
	width: 100px;
	height: 30px;
	margin-left: 2px;
	background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	border-radius: 10px;
}
.btn_high{
	width: 100px;
	height: 30px;
	margin-left: 31px;
	background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	border-radius: 10px;
}
.result{
	margin-top: 30px;
	font-size: 20px;
	font-weight: 600;
}
.balance{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}
.ver{
	display: none;
}